---
// 引入全局样式
import "./BlogList.less";
const allPosts = await Astro.glob('../../pages/posts/*.md');
const postList = allPosts.map(item => ({
  ...item.frontmatter,
  url: item.url
}))
console.log(postList, allPosts[0].url)


// 将日期字符串转换为 "2022/09/19" 格式
// function formatDate(dateString: string) {
//   const year = dateString.substring(0, 4);
//   const month = dateString.substring(4, 6);
//   const day = dateString.substring(6, 8);

//   return `${year}/${month}/${day}`;
// }
// 格式化日期为 'October 11, 2023' 的格式
function formatDate(dateString) {
  const year = dateString.substring(0, 4);
  const month = dateString.substring(4, 6);
  const day = dateString.substring(6, 8);
  const dateObj = new Date(year, month - 1, day);
  const options = { year: 'numeric', month: 'long', day: 'numeric' };
  return dateObj.toLocaleDateString('en-US', options);
}
---

<div class="blog-title">Blog</div>
<div class="blog-list">
  {postList.map((item, index) => (
    <div key={index} class="blog-post">
      <a href={item.url}>
        {item.title}
        <span class="post-date"> {formatDate(item.date)}</span>
      </a>
    </div>
  ))}
</div>