---
import MarkdownLayout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<MarkdownLayout url={frontmatter.url} title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <h3>{frontmatter.date}</h3>
  {frontmatter.image && <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />}

  <slot />
</MarkdownLayout>